* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* Editable dropdown */
.ed-dd {
    width: 120px;
    height: 24px;
    position: relative;
}

.ed-dd * {
    position: absolute;
    top: 0px;
    left: 0px;
}

.ed-dd select {
    width: 120px;
}

.ed-dd input {
    width: 100px;
}

select,
input {
    font-size: 12pt;
    white-space: pre;
    border: none;
    padding: 2px;
    height: 24px;
    border-radius: 4px;
}

select:focus,
input:focus {
    outline: none;
}

/* Overlay */
#oly {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: fixed;
    width: 100svw;
    height: 100svh;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    z-index: 100;
}

#oly a:link,
#oly a:visited,
#oly a:active {
    color: #fff;
    background-color: cadetblue;
    text-decoration: none;
    padding: 8px 24px;
    font-size: 16pt;
    border-radius: 20px;
}
